* {
  margin: 0;
  padding: 0;
}

body {
  background-color: slategray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {

  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
}

h1 {
  color: #0d172a;
  margin-top: 1rem;
  text-align: center;
}

.top {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

input {
  border: none;
  outline: none;
  width: 500px;
  padding: 0.5rem;
  border-bottom: 1px solid #05011a;
}


.add {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add:hover {
  background-color: #0d172a;
  color: #fff;
}

@media (min-width: 768px) {
  .add {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}


.todo {
  position: relative;
  margin-top: 1rem;
  background-color: #0d172a;
  color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 5px;
}

.icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  gap: 0.5rem;
}

.icon {
  cursor: pointer;
  font-size: 20px;
}